

div.selected {
/*    z-index: 2;
*/
    background-color: #e0f7fa; 
}


div.clicked {
    z-index: 3;
    background-color: #00bcd4; 
}


div.card {
    width: 166px; 
    height: 240px;
    border-radius: 10px;
    background-color: lightblue;
    padding: 2px;
    margin: 3px;
    border: 5px solid white;
}

div.card-header {
    height: 20px;
    background-color: gray;
    border-bottom: dotted black;
    padding: 3px;
    border-radius: inherit;
    margin: 4px;
    text-align: center;

}

span.card-header-text {
    font-family: sans-serif;
    font-weight: bold;

}

div.card-body {
    width: inherit; 
    height: 126px;
    margin: 4px;
    border-radius: inherit;
}


/* holds the cards */

div.rank-holder {
    position: absolute;
    left: 20px; /* LHS of Ranking slots */
    top: 20px; /* Top of same */
    width: 20px; /* Horizontal margin of same */
    height: 20px; /* vertical margin of same */
}

div.rank {
    width: 186px; 
    height: 280px;

    margin: 10px;
    background-color: #ff3bbd30;
    border: 8px solid black;
    border-radius: 10px;
    
}
div.play {
  background-color: #698b47; 

  border: 20px solid tan;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;

}
img {
    width: 110px;
    height: 120px;
    object-fit: cover; /* contain; */
    object-position: 0% 0%;
    border-radius: inherit;
    /* border: 5px solid black; */
}

div.control-box {
    border: 2px solid black;
    background-color: white;
    text-align: right;
    border-radius: 10px;
}
table.control-box {
    text-align: right;
    width: 100%;
}
.control-text {text-align: right;}

div.shuffle-box {
    #margin-left: 500px;
    margin-top: 120px;
    transform: rotate(90deg);
    width: 300px;
}

div.shuffle {
    color: wheat;
    text-align: right;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: lighter;
    text-shadow: 2px 2px;
    font-family: "Lucida Console", "Courier New", monospace;
    }
    
@font-face {
   font-family: seg7;
   src: url(../include/7Segment.ttf);
}

@font-face {
  font-family: "D7MBI";
  src: url("../include/DSEG7Modern-BoldItalic.woff") format('woff');
}


span.togo {
    font-family: "D7MBI";
    background-color: black;
    color: red;
    font-size: x-large;
}

.Clock-Wrapper {
    position: relative;
    border: 6px solid #000;
    border-radius: 9px;
    height: 88px;
    width: 122px;
    background-color: #fb7c00;
}
span.background {
    font-family: "D7MBI";
    z-index: 50;
    position: absolute;
    top: 6px;
    left: 6px;
    color: rgba(0,0,0,0.15);
    font-size: 70px;
}
span.foreground {
    font-family: "D7MBI";
    z-index: 100;
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 70px;
}
.shuffle {}