

div.selected {
/*    z-index: 2;
*/
    background-color: #e0f7fa; 
}


div.clicked {
    z-index: 3;
    background-color: #00bcd4; 
}


div.card {
    z-index: 1;
    background-color: lightblue;
    border: solid black;    
    border-radius: 10px;
}

div.rank {
    /*z-index: 0; 
    */
    background-color: white; 
    border: solid black;    
    border-radius: 10px;
}
div.play {
  background-color: #698b47; 

  border: 20px solid tan;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;

}
img {
    width: 100%;
    height: 100%;
}